<html>
	<head>
		<title>Blog App</title>
		<link rel="shortcut icon" href="https://www.clipartmax.com/png/small/184-1841494_web-development-coding-doodle.png" type = "image/x-icon"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/app.css" />
		
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class='ui container'>
				<div class='header item'><i class="code icon"></i> Blog Site</div>
				<a class='item' href='/'>Home</a>
				<a class='item' href='/blogs/new'>New Post</a>
			</div>
		</div>